<a href="https://colab.research.google.com/github/mppa5/Dissertation/blob/main/dissertation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
import numpy as np
import math
import datetime as dt
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_absolute_error, explained_variance_score, r2_score 
from sklearn.metrics import mean_poisson_deviance, mean_gamma_deviance, accuracy_score
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.layers import LSTM
from itertools import cycle
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
print('All good!')

All good!

In [33]:
df = pd.read_csv('/content/BTC-USD.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-08-02,2727.129883,2762.530029,2668.590088,2710.669922,2710.669922,1094950016
1,2017-08-03,2709.560059,2813.310059,2685.139893,2804.729980,2804.729980,804796992
2,2017-08-04,2806.929932,2899.330078,2743.719971,2895.889893,2895.889893,1002120000
3,2017-08-05,2897.629883,3290.010010,2874.830078,3252.909912,3252.909912,1945699968
4,2017-08-06,3257.610107,3293.290039,3155.600098,3213.939941,3213.939941,1105030016

# New section

In [34]:
df.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

# New section